html 
    head
        title dancing club
        style 
            include ../static/css/style.css
    body
        div.container#main
            nav
                p#name Dance Club
                ul
                    li: a(href='/') Home
                    li: a(href='/about') About 
                    li: a(href='/services') Services
                    li: a(href='/contact') Contact us
                img(src="../static/img/profile.png", alt="img")
                p#login: a(href="/login") Login 
        div.mid#box
            main 
                h1 Join Our Dancing Club now 
                p#join: a(href="/services") >> know more <<
        div.info#know
            section 
                h2 Features Or Functions 
                p#detail Welcome to our vibrant dance club, where passion meets rhythm and creativity flows freely on the dance floor! Our club offers a spacious, modern facility equipped with high-quality sound and lighting systems, setting the perfect ambiance for an unforgettable dance experience. We feature a variety of dance styles, from hip-hop and salsa to ballroom and contemporary, with classes led by professional instructors who cater to all skill levels—from beginners to advanced dancers. Our members also enjoy exclusive access to workshops, choreography sessions, and social dance events, fostering a lively community and encouraging self-expression. With flexible membership options and personalized coaching available, our dance club is a place to learn, connect, and thrive through the art of dance.
        div#foot
            footer 
                h3 OUR COLLECTIONS 
                a(href="https://www.youtube.com/watch?v=6rfaoMvpry4&pp=ygULZGFuaW5nIGNsdWI%3D"): img(src="../static/img/img1.jpg", alt="img1")
                a(href="https://www.youtube.com/watch?v=DNDPowtECds&pp=ygULZGFuaW5nIGNsdWI%3D"): img(src="../static/img/img2.jpg", alt="img2")
                a(href="https://www.youtube.com/watch?v=JxdHUIDqVEc&pp=ygULZGFuaW5nIGNsdWI%3D"): img(src="../static/img/img3.png", alt="img3")
        hr
        div#Bottom 
            h4 All rights reserved 
            p Dancing club Copyright © 2024 - 2025