#logindetail{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    padding: 15px;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: 15px;
    margin-bottom: 50px;
}
input{
    padding:12px 30px;
    margin: 16px;    
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
span{
    text-decoration: none;
    font:bold;
    text-align: center;
}
#logindetail h1{
    margin-bottom: 44px;
    font-size: 40px;
}